<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://www.accioncine.es/media/k2/items/cache/9e8f4f050b2e5aa95702ac5fa6bef999_XL.jpg">
</div>
<h1>Administrador de Avengers: </h1>
<ul>
  <li>
    <h3><a routerLink="/adminAvenger">Abrir Administrador de los Avengers</a></h3>
  </li>
  <li>
    <h3><a routerLink="/adminPoder">Abrir administrador de Poderes</a> </h3>
  </li>
</ul>
<div class="dvcentro">
<router-outlet></router-outlet>
</div>


